<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore corrupti dolor ea vero quas provident porro recusandae nulla ipsum maxime, consectetur necessitatibus ducimus. Dolor odit consequuntur, dolores tenetur aperiam voluptatibus?</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorem quasi, autem quidem, voluptatibus incidunt natus quaerat dolores a minus at provident repellat voluptas aut accusamus culpa. Quo, iusto porro.</p>
  <a href="#" class="btn btn-primary">link</a>
</div>